
<h1>
  Event #<%= @event.id %> details
</h1>

<a href="/events/<%= @event.id %>/edit">
  Edit club
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @event.title %>
  </dd>

  <dt>
    Blurb
  </dt>
  <dd>
    <%= @event.blurb %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @event.description %>
  </dd>
  
  <dt>
    Time
  </dt>
  <dd>
    <%= @event.time %>
  </dd>
  
  <dt>
    Location
  </dt>
  <dd>
    <%= @event.location %>
  </dd>
  
  <dt>
    Club
  </dt>
  <dd>
      <a href="/clubs/<%= @event.club_id %>">
        <%= @event.club.title %>  
      </a>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @event.image %>" width="320">
  </dd>
</dl>

<a href="/delete_event/<%= @event.id %>" class="btn btn-danger">
  Delete event
</a>

<hr>

<a href="/events">
  Go back
</a>

<div class="card mt-4">
  <div class="card-header">
    Attendees (<%= @event.students.count %>)
  </div>
  <ul class="list-group list-group-flush">
     <% @event.students.each do |student| %>
    <li class="list-group-item">
      <a href="/students/<%= student.id %>">
      <%= student.name %>
      </a>  
    </li>
    <% end %>
  </ul>
  <div class="card-header">
    Add a new attendee to this event.
  </div>
  <div class="p-5">
  <form action="/create_attendance" method="post" >
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <%= select_tag("student_id", options_from_collection_for_select(Student.all, :id, :name, @club.try(:student_id)), :class => "form-control") %>
  or <a href="/students/new">add a new student</a> first
  </div>
  
  <input type="hidden" name="event_id" value="<%= @event.id %>">
  
  <button class="btn btn-block btn-outline-secondary">
    Create attendance
  </button>
  </div>

</form>
</div>
</div>