
<h1>
  Event #<%= @event.id %> details
</h1>

<a href="/events/<%= @event.id %>/edit">
  Edit club
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @event.title %>
  </dd>

  <dt>
    Blurb
  </dt>
  <dd>
    <%= @event.blurb %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @event.description %>
  </dd>
  
  <dt>
    Time
  </dt>
  <dd>
    <%= @event.time %>
  </dd>
  
  <dt>
    Location
  </dt>
  <dd>
    <%= @event.location %>
  </dd>
  
  <dt>
    Club
  </dt>
  <dd>
      <a href="/clubs/<%= @event.club_id %>">
        <%= @event.club.title %>  
      </a>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @event.image %>" width="320">
  </dd>
</dl>

<a href="/delete_event/<%= @event.id %>" class="btn btn-danger">
  Delete event
</a>

<hr>

<a href="/events">
  Go back
</a>

<div class="card mt-4">
  <div class="card-header">
    Attendees (<%= @event.users.count %>)
  </div>
  <ul class="list-group list-group-flush">
     <% @event.users.each do |user| %>
    <li class="list-group-item">
      <a href="/users/<%= user.id %>">
      <%= user.firstname %> <%= user.lastname %>
      </a>  
    </li>
    <% end %>
  </ul>
  <div class="card-header">
    Add a new attendee to this event.
  </div>
  <div class="p-5">
  <form action="/create_attendance" method="post" >
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="user_id">
      user
    </label>

    <%= select_tag("user_id", options_from_collection_for_select(User.all, :id, :firstname, @club.try(:user_id)), :class => "form-control") %>
  or <a href="/users/new">add a new user</a> first
  </div>
  
  <input type="hidden" name="event_id" value="<%= @event.id %>">
  
  <button class="btn btn-block btn-outline-secondary">
    Create attendance
  </button>
  </div>

</form>
</div>
</div>


<li class="list-group-item"> 
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="clubfilter" name="clubfilter" value="1"
        <% if @clubfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="clubfilter">Clubs</label> <%= @filters %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="eventfilter" name="eventfilter" value="1"
        <% if @eventfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="eventfilter">Events</label>
      </div>
    </li>