<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-12 text-center">
      <h1><%= @user.firstname%> <%= @user.lastname%></h1>
    </div>
  </div>
  <div class="row ml-5 mr-5">
    <div class="col-md-3 p-3">
      <div class="card mb-4">
        <button class="btn btn-success w-100">Friended</button>
      </div>
      <div class="card mb-4">
      <div class="card-body">
      <h5 class="card-title"><%= @user.firstname%>'s friends (<%= @friend_hashs.count %>)</h5>
        <ul class="list-group">
              <% @friend_hashs.each do |f| %>
              <li class="list-group-item">
                  <a href="/users/<%= f.fetch("id") %>">
                      <%= User.find_by(id: f.fetch("id")).firstname %> <%= User.find_by(id: f.fetch("id")).lastname %>
                  </a>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
    </div>
    <div class="col-md-6 p-3">
      second column
  </div>
  <div class="col-md-3 p-3">
    <div class="card mb-4">
      <div class="card-body">
      <h5 class="card-title"><%= @user.firstname%>'s favorite clubs (<%= @user.favoriteclubs.count %>)</h5>
        <ul class="list-group">
              <% @user.favoriteclubs.each do |club| %>
              <li class="list-group-item">
                  <a href="/clubprofile/<%= club.id %>">
                      <%= club.title %>
                  </a>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
</div>
<div class="row p-4">
</div>
</div>

<%= @message %>