<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Attendance #<%= @attendance.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/attendances" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/attendances/<%= @attendance.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit attendance
        </a>
      </div>

      <div class="col">
        <a href="/delete_attendance/<%= @attendance.id %>" class="btn btn-block btn-outline-secondary">
          Delete attendance
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= User.find_by(id: @attendance.user_id).firstname %>
      </dd>

      <dt>
        Event
      </dt>
      <dd>
        <%= Event.find_by(id: @attendance.event_id).title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@attendance.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@attendance.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

