<div class="jumbotronspecial jumbotron-fluid text-center">
  <h1 class="display-4">Search Clubs & Events</h1>
</div>

<div class="row">
    <div class="col-md-1">
        <!--spacer-->
    </div>
    <div class="col-md-2 mt-5">
      <form action="/search" >
        <button class="btn btn-block btn-outline-secondary">
          Apply Filters
        </button>
        </br>
        <div class="card" style="width: 16rem;">
          <div class="card-header text-center">
            Type
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="typefilter" class="custom-control-input" value="clubfilter"
                <% if @clubfilter == 1 %>
                checked 
                <% end %>>
                <label class="custom-control-label" for="customRadio1">Clubs</label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="typefilter" class="custom-control-input" value="eventfilter"
                  <% if @eventfilter == 1 %>
                  checked 
                 <% end %>>
                <label class="custom-control-label" for="customRadio2">Events</label>
              </div>
            </li>
          </ul>
        </div>
        </br>

<!--<=% if @eventfilter == 1 %>
<div class="card" style="width: 16rem;">
  <div class="card-header text-center">
    Event Preferences
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="friendfilter" name="friendfilter" value="1"
        <=% if @friendfilter.present? %>
        checked 
        <=% end %>>
        <label class="custom-control-label" for="friendfilter">Flagged by Friends</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="foodfilter" name="foodfilter" value="1"
        <=% if @foodfilter.present? %>
        checked 
        <=% end %>>
        <label class="custom-control-label" for="foodfilter">Free food</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="admissionfilter" name="admissionfilter" value="1"
        <=% if @admissionfilter.present? %>
        checked 
        <=% end %>>
        <label class="custom-control-label" for="admissionfilter">Free Admission</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="soonfilter" name="soonfilter" value="1"
        <=% if @soonfilter.present? %>
        checked 
        <=% end %>>
        <label class="custom-control-label" for="soonfilter">Happening Soon</label>
      </div>
    </li>
  </ul>
</div>
</br>
<=% end %>

<div class="card" style="width: 16rem;">
  <div class="card-header text-center">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <=% @categories.each_with_index do |category, index| %>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="<=%= category.id %>" name="<=%= category.description %>"
        <=% if @categoryexists[index] == 1 %>
        checked
        <=% end %>>
        <label class="custom-control-label" for="<=%= category.id%>"><=%= category.description %></label>
      </div>
    </li>
<=% end %>
  </ul>
</div>
</form>
-->
</div>

<!--IF CLUBS ARE DISPLAYED -->
<% if @clubfilter == 1 %>
<div class="col-md-9 pl-5">
<div class="row mt-4">
<% count=0 %>


<% @clubs.each do |club| %>

<% if(count%3 == 0) %>
</div>
<div class="row mt-3">
<% end %>
    <div class="col-md-3">
        <div class="card mb-3" style="width: 18.3rem;">
          <img class="card-img-top" src="<%= club.source %>" onerror="this.src='https://storage.googleapis.com/indie-hackers.appspot.com/product-avatars/quick-and-simple-image-placeholders/bcohuFwnmPgIu4aM56YZudq12m02'"  style="height:220px">
          <div class="row mt-3  ml-3">
             <h5 class="card-title"><%= club.title %></h5>
          </div>
          <div class="row mb-3 ml-3">
            <%= truncate(club.blurb) %>
          </div>
          <div class="row mb-2">
            <div class="col-md-9 ml-2">
              <% club.categories.each do |category| %>
              <span class="badge badge-pill badge-info"><%= category.description %></span>
              <% end %>
            </div>
          <div class="col-md-2 auto-mr">
            <button class="btn btn-light btn-sm" data-toggle="modal" data-target=".<%= club.id %>people">
                <span style="font-size:9pt"><%= club.fans.count %> <i class="fas fa-user"></i></span>
            </button>
            
          </div>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <% if club.fans.ids.include? current_user.id %>
            <a class="btn btn-light w-100" href="/delete_favorite/<%= club.favorites.find_by(:user_id => current_user.id).id %>">
              <i class="fas fa-heart" style="color:red"></i>
            </a>
          <% else %>
              <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= club.id %>favorite">
                <i class="fas fa-heart"></i>
              </button>
          <% end %>
              
                <a href="/clubprofile/<%= club.id %>" class="btn btn-light w-100">
                Full profile
                </a>
              <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= club.id %>">
                <i class="fas fa-search-plus"></i>
              </button>
            </div>
              
          

<div class="modal fade <%= club.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="col-12 modal-title text-center"><%= club.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100 mb-3" src="<%= club.source %>">
               <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Schedule & Locations</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= club.schedule %>
                    </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Commitment</button>
              <div class="card-body">
                <p class="card-text">
                  <%= club.commitment %>
                </p>
              </div>
            </div>
            
            </div>
            <div class="col-md-6">
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Who We Are</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= club.summary %>
                  </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Get Involved</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= club.getinvolved %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <a href="/clubprofile/<%= club.id %>" class="btn btn-outline-info">
                View full profile
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade <%= club.id %>favorite"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="col-12 modal-title text-center">Favorite <%= club.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            <p style="font-size:1rem">
              You're about to add this club to favorites. That means that you'll have quick-access to this club from your wall.
            </p>
            <!--<p style="font-size:1rem">-->
            <!--You can configure this in "notifications"-->
            <!--in your account settings. -->
            <!--</p>-->
            
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <form action="/create_favorite" method="post">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="club_id" value="<%= club.id %>">
                <button class="btn btn btn-outline-info">
                  Add to favorites
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade <%= club.id %>people"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="col-12 modal-title text-center"><%= club.title %> Members
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
          <div class="card-header">
            <h5>
                <%= club.fans.count %> Members
            </h5>
          </div>
          <ul class="list-group">
              <% club.fans.each do |user| %>
              <li class="list-group-item">
                  <a href="/users/<%= user.id %>">
                      <%= user.firstname %> <%= user.lastname %>
                  </a>
                  <% if user.id == club.admin_user_id %>
                  [Admin]
                  <% end %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
            
        </div>
      
    </div>
    <% count = count + 1 %>
    <% end %>
</div>
</div>
</div>

<% end %>

<!--IF EVENTS ARE DISPLAYED ------------------>


<% if @eventfilter == 1 %>
<div class="col-md-9 pl-5">
<div class="row mt-4">
<% count=0 %>


<% @events.each do |event| %>

<% if(count%3 == 0) %>
  </div>
  <div class="row mt-3">
<% end %>
    <div class="col-md-3">
        <div class="card mb-3" style="width: 18.3rem;">
          <img class="card-img-top" src="<%= event.image %>" onerror="this.src='https://storage.googleapis.com/indie-hackers.appspot.com/product-avatars/quick-and-simple-image-placeholders/bcohuFwnmPgIu4aM56YZudq12m02'" style="height:220px">
          <div class="card-body">
             <h5 class="card-title"><%= event.title %></h5>
                       <p>
            <%= truncate(event.blurb) %>
          </p>
          </div>

            
          
          <div class="row mb-2">
            <div class="col-md-9 ml-2">
              <% event.club.categories.each do |category| %>
              <span class="badge badge-pill badge-info"><%= category.description %></span>
              <% end %>
            </div>
          <div class="col-md-2 auto-mr">
            <button class="btn btn-light btn-sm" data-toggle="modal" data-target=".<%= event.id %>eventpeople">
                <span style="font-size:9pt"><%= event.users.count %> <i class="fas fa-user"></i></span>
            </button>
            
          </div>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= event.id %>share">
                <i class="fas fa-share"></i>
              </button>
              <% if event.users.ids.include? current_user.id %>
              <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target=".<%= event.id %>unrsvp">
                Going
              </button>
              <% else %>
              <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= event.id %>rsvp">
                RSVP
              </button> 
              <% end %>
              <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= event.id %>show">
                <i class="fas fa-search-plus"></i>
              </button>
            </div>
              
          

<div class="modal fade <%= event.id %>show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="col-12 modal-title text-center"><%= event.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100 mb-3" src="<%= event.image %>">
               <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">When</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= event.time.strftime("%a, %b %e at %l %p") %>
                  </p>
                  <p class="card-text">
                    <% if Time.now - event.time > 0 %>
                    <%= time_ago_in_words(event.time) %>  ago
                    <% elsif event.time - Time.now < 7.days %>
                    <font color="red"><%= time_ago_in_words(event.time) %> away</font>
                    <% else %>
                    <%= time_ago_in_words(event.time) %> away
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Location</button>
              <div class="card-body">
                <p class="card-text">
                  <%= event.location %>
                </p>
              </div>
            </div>
            
            </div>
            <div class="col-md-6">
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Event Description</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= event.description %>
                  </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Hosted By</button>
                <div class="card-body">
                  <p class="card-text">
                    <a href="/clubprofile/<%= Club.find_by(id: event.club_id).id %>">
                      <%= Club.find_by(id: event.club_id).title %>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <% if event.users.ids.include? current_user.id %>
              <a href="/delete_attendance/<%= Attendance.find_by(user_id: current_user.id, event_id: event.id).id %>" class="btn btn-danger btn-outline">
                Undo RSVP 
              </a>
              <% else %>
              <form action="/create_attendance" method="post">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="event_id" value="<%= event.id %>">
                <button class="btn btn btn-outline-info">
                  RSVP
                </button>
              </form>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade <%= event.id %>share" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="col-12 modal-title text-center">Share this event
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        <form action="/share" method="post">
          <div class="card">
            <div class="card-header text-center">
              <h5>
                  My Friends <span class="badge badge-secondary"><%= cookies[:friendcount] %> </span>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <% if @friend_hashs == [ ] %>
              <li class="list-group-item">
                You don't have any friends yet.
              </li>
              <% end %>
              <% @friend_count = 0 %>
              <% @friend_hashs.each do |f| %>
              <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="<%= event.id %>friend<%= @friend_count %>" name="<%= event.id %>friend<%= @friend_count %>" value="<%= f.fetch("id") %>">
                  <label class="custom-control-label" for="<%= event.id %>friend<%= @friend_count %>">
                    <a href="/users/<%= f.fetch("id") %>">
                      <% friend = User.find_by(id: f.fetch("id")) %>
                      <%= friend.firstname %> <%= friend.lastname %>
                    </a>
                  </label>
                </div>
              </li>
              <% @friend_count = @friend_count + 1 %>
              <% end %>
            </ul>
          </div>
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <input type="hidden" name="shared_item_id" value="<%= event.id %>">
            <input type="hidden" name="share_type" value="event">
            <button class="btn btn-block btn-outline-secondary">
              Share
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade <%= event.id %>rsvp"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="col-12 modal-title text-center">RSVP for <%= event.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            <p style="font-size:1rem">
              You're about to RSVP this event and add it to your favorites.  
            </p>
            <!--<p style="font-size:1rem">-->
            <!--You can configure reminders and notifications -->
            <!--in your account settings. -->
            <!--</p>-->
            
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <form action="/create_attendance" method="post">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="event_id" value="<%= event.id %>">
                <button class="btn btn btn-outline-info">
                  RSVP
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if event.users.include? current_user %>
<div class="modal fade <%= event.id %>unrsvp"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="col-12 modal-title text-center">Undo RSVP for <%= event.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            <p style="font-size:1rem">
              You're already RSVPed for this event.  
            </p>
            <p style="font-size:1rem">
            You can configure reminders and notifications 
            in your account settings. 
            </p>
            
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <a href="/delete_attendance/<%= Attendance.find_by(user_id: current_user.id, event_id: event.id).id %>" class="btn btn-block btn-danger">
                Undo RSVP 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="modal fade <%= event.id %>eventpeople"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="col-12 modal-title text-center">People interested in "<%= event.title %>"
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
      <div class="modal-body">
          <div class="card-header">
            <h5>
                <%= event.users.count %> Members
            </h5>
          </div>
          <ul class="list-group">
              <% event.users.each do |user| %>
              <li class="list-group-item">
                <% if user.id == current_user.id %>
                <a href="/mywall">
                  <%= user.firstname %> <%= user.lastname %> [me]
                </a>
                <% else %>
                  <a href="/users/<%= user.id %>">
                      <%= user.firstname %> <%= user.lastname %>
                  </a>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>


        </div>
      
    </div>
    <% count = count + 1 %>
    <% end %>
</div>
</div>
</div>
<% end %>

<div class="row m-5">
  <!--<div class="col-md-12 text-center">
    <a href="/search" class="btn btn-secondary">Back to top</a>
  </div>-->
  <a href="/clubprofile_create" class="btn btn-primary btn-block">
          Create Club
        </a>
</div>