<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Search Clubs & Events</h1>
</div>

<div class="row">
    <div class="col-md-1">
        
    </div>
<div class="col-md-2 mt-5">
  
<form action="/search/filters" method="post" >
  <button class="btn btn-block btn-outline-secondary">
    Apply Filters
  </button>
  </br>
<div class="card" style="width: 16rem;">
  <div class="card-header text-center">
    Type
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="clubfilter" name="clubfilter" value="1"
        <% if @clubfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="clubfilter">Clubs</label> <%= @filters %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="eventfilter" name="eventfilter" value="1"
        <% if @eventfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="eventfilter">Events</label>
      </div>
    </li>
  </ul>
</div>
</br>

<% if @eventfilter.present? %>
<div class="card" style="width: 16rem;">
  <div class="card-header text-center">
    Event Preferences
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="friendfilter" name="friendfilter" value="1"
        <% if @friendfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="friendfilter">Flagged by Friends</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="foodfilter" name="foodfilter" value="1"
        <% if @foodfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="foodfilter">Free food</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="admissionfilter" name="admissionfilter" value="1"
        <% if @admissionfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="admissionfilter">Free Admission</label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="soonfilter" name="soonfilter" value="1"
        <% if @soonfilter.present? %>
        checked 
        <% end %>>
        <label class="custom-control-label" for="soonfilter">Happening Soon</label>
      </div>
    </li>
  </ul>
</div>
</br>
<% end %>
<div class="card" style="width: 16rem;">
  <div class="card-header text-center">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <% @categories.each_with_index do |category, index| %>
    <li class="list-group-item">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="<%= category.id %>" name="<%= category.description %>"
        <% if @categoryexists[index] == 1 %>
        checked
        <% end %>>
        <label class="custom-control-label" for="<%= category.id%>"><%= category.description %></label>
      </div>
    </li>
<% end %>
  </ul>
</div>
</form>

</div>
<div class="col-md-9 pl-5">





<div class="row mt-4">
<% count=0 %>


<% @clubs.each do |club| %>

<% if(count%3 == 0) %>
</div>
<div class="row mt-3">
<% end %>
    <div class="col-md-3">
        <div class="card mb-3" style="width: 18.3rem;">
          <img class="card-img-top" src="<%= club.source %>" alt="Card image cap" style="height:220px">
          <div class="row mt-3  ml-3">
             <h5 class="card-title"><%= club.title %></h5>
          </div>
          <div class="row mb-3 ml-3">
            <%= club.blurb %>
          </div>
          <div class="row mb-2">
            <div class="col-md-9 ml-2">
              <% club.categories.each do |category| %>
              <span class="badge badge-pill badge-info"><%= category.description %></span>
              <% end %>
            </div>
          <div class="col-md-1">
            <span class="badge badge-secondary">
              <%= club.users.count %> <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <% if club.fans.ids.include? current_user.id %>
            <a class="btn btn-light w-100" href="/delete_favorite/<%= club.favorites.find_by(:user_id => current_user.id).id %>">
              <i class="fas fa-heart" style="color:red"></i>
            </a>
          <% else %>
            <form action="/create_favorite" method="post">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="club_id" value="<%= club.id %>">
                <button class="btn btn-small btn-light w-100">
                  <i class="fas fa-heart"></i>
                </button>
              </form>
          <% end %>
              
                <a href="/clubprofile/<%= club.id %>" class="btn btn-light w-100">
                Full profile
             </a>
                <button type="button" class="btn btn-light w-100" data-toggle="modal" data-target=".<%= club.id %>">
                <i class="fas fa-search-plus"></i>
              </button>
            </div>
              
          

<div class="modal fade <%= club.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="col-12 modal-title text-center"><%= club.title %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
             <div class="card mb-3" style="width: 100%">
               <button type="button" class="btn btn-info">Gallery</button>
              <div class="card-body">
                <div id="<%= club.id %>" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%= club.source %>" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
              </div>
            </div>
            <div class="card mb-3" style="width: 100%">
              <button type="button" class="btn btn-info">Get Involved</button>
              <div class="card-body">
                <p class="card-text">
                  <%= club.getinvolved %>
                </p>
              </div>
              
            </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Who We Are</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= club.summary %>
                  </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Schedule & Locations</button>
                <div class="card-body">
                  <p class="card-text">
                    <%= club.schedule %>
                    </p>
                </div>
              </div>
              <div class="card mb-3" style="width: 100%">
                <button type="button" class="btn btn-info">Commitment</button>
              <div class="card-body">
                <p class="card-text">
                  <%= club.commitment %>
                </p>
              </div>
              
            </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <a href="/clubprofile/<%= club.id %>" class="btn btn-outline-info">
                View full profile
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            
        </div>
      
    </div>
    <% count = count + 1 %>
    <% end %>
</div>

</div>

</div>
<div class="row m-5">
  <div class="col-md-12 text-center">
    <a href="/clubssearch" class="btn btn-secondary">Back to top</a>
  </div>
</div>