<h1>
  Category #<%= @category.id %> details
</h1>

<a href="/categories/<%= @category.id %>/edit">
  Edit category
</a>

<hr>

<dl>
  <dt>
    Description
  </dt>
  <dd>
    <%= @category.description %>
  </dd>
</dl>

<a href="/delete_category/<%= @category.id %>" class="btn btn-danger">
  Delete category
</a>

<hr>

<a href="/categories">
  Go back
</a>



<div class="card mt-4">
  <div class="card-header">
    Clubs (<%= @category.clubs.count %>)
  </div>
  <ul class="list-group list-group-flush">
     <% @category.clubs.each do |club| %>
    <li class="list-group-item">
      <a href="/clubs/<%= club.id %>">
      <%= club.title %>
      </a>
    </li>
    <% end %>
  </ul>
  <div class="card-header">
    Create a new tag.
  </div>
  <div class="p-5">
  <form action="/create_tag" method="post" >
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="club_id">
      Club
    </label>

    <%= select_tag("club_id", options_from_collection_for_select(Club.all, :id, :title, @tag.try(:club_id)), :class => "form-control") %>
  or <a href="/clubs/new">add a new club</a> first
  </div>
  
  <input type="hidden" name="category_id" value="<%= @category.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create tag
  </button>
  </div>

</form>
</div>